<center> <h1 style="color : #008B8B"> Remodelación y Tablas Dinámicas </h1> </center>

<h2 style="color : #8FBC8F"> Remodelación al pivotar objetos DataFrame </h2>



<p>Una Tabla Pivot en Pandas es una excelente herramienta que nos permite resumir una o mas variables numericas basadas en dos otras variables categoricas. Una tabla Pivot en Pandas puede ser creada usando el comando pandas.pivot_table

Los datos a menudo se almacenan en el formato denominado "apilado" o "registro",veamos a continuacion:</p>

In [ ]:
df # "df" siendo esta nuestra variable para imprimir el set de datos

   date           variable     value
0  2000-01-03        A         0.469112
1  2000-01-04        A        -0.282863
2  2000-01-05        A        -1.509059
3  2000-01-03        B        -1.135632
4  2000-01-04        B         1.212112
5  2000-01-05        B        -0.173215
6  2000-01-03        C         0.119209
7  2000-01-04        C        -1.044236
8  2000-01-05        C        -0.861849
9  2000-01-03        D        -2.104569
10 2000-01-04        D        -0.494929
11 2000-01-05        D         1.071804

<p>En este primer apartado veremos como seleccionar valores especificos, alterar el orden de las filas y columnas de un set de datos para que estos se adapten mejor a la interpretacion que queremos obtener de la data

Anteriormente vimos como los valores A, B, C y D estan ordenados de forma vertical de arriba hacia abajo. Podemos selecionar valores especificos del set de datos al ingresar el siguiente comando:</p>

In [ ]:
df[df["variable"] == "A"]

#Aca estamos indicando extraer del data frame de la columna "variable" todos los valores correspondientes a "A"

    date         variable     value
0 2000-01-03        A         0.469112
1 2000-01-04        A        -0.282863
2 2000-01-05        A        -1.509059

<p> Ahora, para cambiar el orden de las columnas y filas de nuestro set de datos podemos utilizar el metodo DataFrame.pivot() o bien df.pivot()</p>

In [ ]:
df.pivot(index="date", columns="variable", values="value")

#aca le estamos diciendo el valor que queremos en cada las columnas o filas
#siendo "date" nuestra columna inicial, "Variable" las columnas y como valor "values"

   X--->variable           A         B         C         D

   Y    date                                              
        2000-01-03      0.469112 -1.135632  0.119209 -2.104569
        2000-01-04     -0.282863  1.212112 -1.044236 -0.494929
        2000-01-05     -1.509059 -0.173215 -0.861849  1.071804

<h2 style="color : #8FBC8F"> Remodelando, Apilando y Desapilando </h2>

<p>En esta seccion haremos uso de los metodos stack y unstack.
La función stack () se utiliza para apilar los niveles prescritos de las columnas al índice, es decir la columna se apila por filas.</p>

<p>Al remodelar los datos usando la función stack () en pandas, los datos se convierten en formato apilado, es decir, la columna se apila por filas. 
Cuando hay más de un encabezado de columna, podemos apilar el encabezado de columna específico según el nivel especificado. 
Para ellos utilizaremos el comando stacked_df=df.stack()</p>

<img SRC="apilar.png"/>
<img SRC="reshaping_stack.png"/>

<p>La función unstack () en pandas convierte los datos en formato no apilado y para ello utilizamos el comando unstacked_df = stacked_df.unstack()
</p>

<img SRC="despilar.png"/>
<img SRC="reshaping_unstack.png"/>

 <h3 style="color : #20B2AA"> Múltiples niveles </h3>

<p>También puede apilar o desapilar más de un nivel a la vez pasando una lista de niveles, 
en cuyo caso el resultado final es como si cada nivel de la lista se procesara individualmente</p>

<img SRC="pandas-dataframe-stack-3.png"/>

<h3 style="color : #20B2AA"> Datos Faltantes </h3>

<p> El desapilado puede resultar en valores perdidos si los subgrupos no tienen el mismo conjunto de etiquetas. 
Los valores faltantes se reemplazarán con el valor de relleno predeterminado para ese tipo de datos, 
NaNpara flotante, NaTpara fecha y hora, etc. 

Alternativamente, unstack toma un argumento fill_value opcional para especificar el valor de los datos faltantes

<h2 style="color : #8FBC8F"> Remodelación por fusión </h2>

<p>La remodelación de un dato de ancho a largo en pandas python se realiza con la función melt ()</p>

<p>Ejemplo:
    
    df2=pd.melt(df,id_vars=['countries'],var_name='metrics', value_name='values')
    
    
    Aca, el marco de datos "df" se pasa a la función melt ()
    
    id_vars es la variable que debe dejarse inalterada, que es "países"
    var_name son los nombres de las columnas, así que lo llamamos 'métricas'
    value_name son sus valores, así que lo nombramos como 'valores'
</p>

 <img SRC="melt.png"/>

<h2 style="color : #8FBC8F"> Combinando con estadísticas y GroupBy </h2>

<p>GroupBy de Pandas es una función que le permite dividir sus datos en grupos separados
para realizar cálculos para un mejor análisis.
GroupBy nos permite agrupar nuestros datos en función de diferentes características y tener una idea más precisa sobre sus datos

A continuación se muestra la syntaxis de groupby(), esta función toma varios parámetros que se explican a continuación y devuelve objetos GroupBy que contienen información sobre los grupos</p>

 <img SRC="group by.png"/>

<p>
<ol>
<li>by - Lista de nombres de columnas para agrupar</li>
<li>axis- Predeterminado a 0. Toma 0 o 'índice', 1 o 'columnas'</li>
<li>level - Utilizado con MultiIndex.</li>
<li>as_index - otput agrupado estilo sql.</li>
<li>sort- Predeterminado a Verdadero. Especificar si ordenar por grupo</li>
<li>group_keys - agregar claves de grupo o no</li>
<li>squeeze - depricado en nuevas versiones</li>
<li>observed - Esto solo se aplica si alguno de los meros es categórico.</li>
<li>dropna- Predeterminado a Falso. Use True para soltar las teclas None / Nan on sory</li>
</ol>

</p>

<h2 style="color : #8FBC8F"> Tablas dinámicas </h2>

<p>La función pivot_table() se puede utilizar para crear tablas dinámicas al estilo de una hoja de cálculo. 
Sin embargo se necesitan varios argumentos:

    data: un objeto DataFrame.

    values: una columna o una lista de columnas para agregar.

    index: una columna, Agrupador, matriz que tiene la misma longitud que los datos o una lista de ellos. 

    columns: una columna, Agrupador, matriz que tiene la misma longitud que los datos o una lista de ellos.

    aggfunc: función que se utilizará para la agregación, por defecto numpy.mean.

    
Veamos el siguiente ejemplo:
</p>

 <img SRC="antes de pivot.png"/>

<p>pd.pivot_table(df, index=['Exam','Subject'], aggfunc='mean')

Entonces, la tabla dinámica con la función agregada media será:</p>

 <img SRC="pivot.png"/>